<!-- MODAL WINDOW -->

<div id="footer-modal" class="modal">
  <div class="modal-contant">
    <button class="close-btn" id="close-btn"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 6L18 18" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg></button>
    <h1 class="title-modal">Thank you for your inerest in cooperation!</h1>
    <p class="text-modal">The manager will contact you shortly to discuss further details and opportunities for
      cooperation. Please stay in touch.</p>
  </div>
</div>